<div id="blog_text_widget" class="w-72 border border-2 border-black rounded-md absolute">
    <form class="new_message" id="new_message" action="<%= ENV['BASE_URL'] %>/messages" accept-charset="UTF-8" method="post">
        <input type="hidden" name="client_id" id="client_id" value="">

        <div class="pb-7 pt-4 flex items-center gap-x-2 blog_text_widget_background_color">
            <div id="blog_text_close" class="absolute top-0 right-0 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <div class="pl-2">
                <img id="blog_text_widget_avatar" src="https://via.placeholder.com/60x60" class="rounded-full w-14" alt="">
            </div>
            <div class="">
                <span id="blog_text_widget_welcome_message"></span>
            </div>
        </div>

        <div class="bg-white">
            <div class="px-4 pt-4 pb-0">
                <div class="grid grid-cols-1 gap-y-3 gap-x-4 sm:grid-cols-6">
                    <div class="sm:col-span-6">
                        <label for="message_name" class="block text-sm font-medium text-gray-700">Name</label>
                        <div class="mt-1">
                        <input type="text" id="message_name" name="message[name]" required="required" placeholder="Slashmatti" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>

                    <div class="sm:col-span-6">
                        <label for="message_email" class="block text-sm font-medium text-gray-700">Email</label>
                        <div class="mt-1">
                        <input type="email" id="message_email" name="message[email]" required="required" placeholder="dm@slashmatti.com" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>

                    <div class="sm:col-span-6">
                        <label for="message_content" class="block text-sm font-medium text-gray-700">Message</label>
                        <div class="mt-1">
                            <textarea rows="6" id="message_content" name="message[content]" required="required" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-5">
                <div class="flex justify-end">
                    <button id="message_submit" type="submit" class="blog_text_widget_background_color w-full inline-flex justify-center rounded-t-md rounded-b-sm border border-transparent py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Send</button>
                </div>
            </div>
        </div>

    </form>
</div>