<% meta title: "Home", description: "This field creates an SEO meta description." %>

<!-- This example section is from the tailwindui.com Hero Section component library -->
<div class="relative bg-white overflow-hidden">

  <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <!-- <span class="block text-sm font-semibold uppercase tracking-wide text-gray-500 sm:text-base lg:text-sm xl:text-base">Coming soon</span> -->
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl">
              <span class="block text-gray-900">Let website visitors text you. Really.</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            Introducing an alternative to boring blog comments. Your phone number is never exposed.
          </p>
          <button type="button" onclick="tryIt()" class="mt-4 rounded-full bg-white px-3.5 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-2 ring-inset ring-gray-300 hover:bg-gray-50">Try It</button>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="<%= ENV['base_url'] %>/snippet.js?client_id=<%= Widget.first.client_id %>"></script>

<script type="text/javascript">
  function tryIt() {
    document.getElementById('blog_text_icon').click();
  }
</script>